@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
  }
  
  body {
    background: #fff;
    color: #999999;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    width: 100%;
    height: 100%;
    font-size: 16px;
  }
  
  body,
  input,
  textarea,
  button {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  
  section {
    padding-top: 156px !important;
  }
  
  .form-control::-webkit-input-placeholder, .form-select {
    color: var(--dark);
    font-weight: 500;
  }
  
  textarea {
    resize: none;
  }
  
  footer {
    background-color: rgba(0,0,0,0.8);
    padding: 315px 49px 49px 49px;
    margin-top: 156px;
  }
  
.footer-row {
    display: flex;
    justify-content: space-between;
}

.logo-footer {
    margin-top: 12px;
}

  .btn-media {
    width: 40px;
    height: 40px;
    color: rgba(0,0,0,0.8);
  }
  
  hr {
    border-top: 1px solid #999999;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }

  .d-flex-justify-content-between {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }

  .col-3 {
    display: flex;
    flex-direction: column;
  }

  .small-text-muted {
    font-size: small;
    margin: 10px;
    width: 275px;
  }

  .d-flex-gap-3 {
    display: flex;
    margin: 10px;
  }

  .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .fw-bold-text-danger {
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
  }

  .text-muted-text-decoration-none {
    color: inherit;
    text-decoration: none;
  }